body{
	font-family:'Gugi', cursive;
	font-size: 26px;
	background-image: url("https://d.top4top.io/p_16370xd2l1.jpg");
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
}

button{
	background:rgba(0, 0, 0, 0);
	background:rgba(0, 0, 0, 0.25);
	border: 1px solid #b00d00;
	border-radius: 4px;
	transition: 0.7s;
}






