body{
	background-color:white;
	font-family:'Gugi', cursive;
	font-size: 26px;
	background-image: url("https://d.top4top.io/p_16370xd2l1.jpg");
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
}

